.blueessay-fluid{
  background-image: url(../../../assets/img/Vector\ Smart\ Object.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #e6f7fe;
  background-position: bottom;
  padding-bottom: 60px;
}

.blueessay-fluid .blueessay {
  position: relative;
}

.blueessay-fluid .blueessay .cloud{
  position: absolute;
  left: -500px;
  top: 50px;
  animation: clod linear 10s infinite;
  animation-delay: 5s;
  z-index: 0;
}

.blueessay-fluid .blueessay .cloud1{
  position: absolute;
  right: 100px;
  top: 200px;
  animation: clod1 linear 10s infinite;
  z-index: 0;
}

@keyframes clod {
  from {
    left: -600px;
  }
  to {
    left: 140%;
  }
}

@keyframes clod1 {
  from {
    left: -400px;
  }
  to {
    left: 140%;
  }
}

.blueessay-fluid .blueessay .box_essay .left{
  z-index: 1;
}

.blueessay-fluid .blueessay .box_essay .left h1{
  margin-top: 145px;
  margin-left: 25px;
  font-size: 47px;
  letter-spacing: -1px;
  font-family: Poppins-Bold;
}

.blueessay-fluid .blueessay .box_essay .left p{
  font-size: 20px;
  line-height: 30px;
  color: #656a70;
  font-weight: 400;
}

.blueessay-fluid .blueessay .box_essay .left h1 span{
  color: #03a9f4;
}

.blueessay-fluid .blueessay .box_essay .left .btn a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 3px;
  background-color: #1088c7;
  border: 1px solid #1088c7;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-family: Poppins-Medium;
  text-decoration: none;
  &:hover{
    background-color: #f75e2d;
  }
}

.blueessay-fluid .blueessay .box_essay .right{
  z-index: 1;
}

.blueessay-fluid .blueessay .box_essay .right img{
  margin-top: 105px;

}

.blueessay-fluid .blueessay .box_essay .left .proces{
  width: 550px;
  margin-top: 40px;
  margin-bottom: 45px;
  height: 4px;
  background-color: #b0bcc2;
  border-radius: 2px;
  overflow: hidden;
}

.blueessay-fluid .blueessay .box_essay .left .proces .proces-fill{
  height: 100%;
  width: 0;
  background-color: #f75d2d;
}

.blueessay-fluid .blueessay .box_essay .left .proces:hover .proces-fill{
  animation: slise 1s forwards;
}

.blueessay-fluid .blueessay .box_essay .box_center{
  height: 135px;
  filter: drop-shadow(0px 4px 15px rgba(202,202,202,0.15));
  background-color: #03a9f3;
  position: absolute;
  bottom: -120px;
}

.blueessay-fluid .blueessay .box_essay .box_center .box_text{
  display: flex;
  flex-direction: column;
}

.blueessay-fluid .blueessay .box_essay .box_center .box_text label{
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  font-family: Poppins-Medium;
}

.blueessay-fluid .blueessay .box_essay .box_center .box_text select{
  width: 202px;
  height: 50px;
  border-radius: 3px;
  background-color: #f6f9f9;
  border: 1px solid #d8dadb;
  font-size: 13px;
  color: #656a70;
  font-weight: 400;
  font-family: Poppins-Medium;
  padding: 0 10px;
}

.blueessay-fluid .blueessay .box_essay .box_center .box_text .number{
  display: flex;
}

.blueessay-fluid .blueessay .box_essay .box_center .box_text .number button{
  width: 50px;
  height: 50px;
  border: 1px solid #d8dadb;
  font-size: 30px;
  border-radius: 2px;
  cursor: pointer;
}

.blueessay-fluid .blueessay .box_essay .box_center .box_text .number span{
  border: 1px solid #d8dadb;
  border-radius: 2px;
  display: block;
  height: 50px;
  width: 100px;
  display: flex;
  background-color: #f6f9f9;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.blueessay-fluid .blueessay .box_essay .box_center .btn a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  background-color: #1088c7;
  border: 1px solid #1088c7;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
  color: #ffffff;
  &:hover{
    background-color: #f75e2d;
  }
}

@keyframes slise {
    from {
    width: 0;
  }
  to {
    width: 25%; 
  }
}