.discount-fluid{
    height: 500px;
    background-image: url(../../../assets/img/bg-rocket.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #03a9f3;
    position: relative;
    padding-top: 95px;
}

.discount-fluid .discount .rocket{
    position: absolute;
    top: 40px;
    animation: rocket linear 10s infinite;
    z-index: 0;
}

@keyframes rocket {
  from {
    left: -600px;
  }
  to {
    left: 100%;
  }
}

.discount-fluid .discount .discbox .di{
    z-index: 1;
}

.discount-fluid .discount .discbox .di h2{
    font-size: 33px;
    color: #ffffff;
    font-weight: 500;
    font-family: Poppins-Bold;
}

.discount-fluid .discount .discbox .di p{
    width: 653px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
    font-family: Poppins-Light;
    text-align: center;
    margin-bottom: 80px;
}

.discount-fluid .discount .discbox .infor{
    width: 1000px;
    padding: 0;
    filter: drop-shadow(0px 4px 15px rgba(202,202,202,0.55));
    position: absolute;
    bottom: -200px;
}

.discount-fluid .discount .discbox .infor .contleft{
    width: 555px;
    background-color: #ffffff;
    padding: 15px;
}

.discount-fluid .discount .discbox .infor .contleft .tier-card{
    width: 240px;
    text-align: center;
}

.discount-fluid .discount .discbox .infor .contleft .tier-card:nth-child(1){
    border-bottom: 1px solid #e1e1e7;
    border-right: 1px solid #e1e1e7;
}

.discount-fluid .discount .discbox .infor .contleft .tier-card:nth-child(2){
    border-bottom: 1px solid #e1e1e7;
}

.discount-fluid .discount .discbox .infor .contleft .tier-card:nth-child(3){
    border-right: 1px solid #e1e1e7;
}

.discount-fluid .discount .discbox .infor .contleft .tier-card h4{
    font-size: 35px;
    line-height: 40px;
    color: #f75e2e;
    font-family: Poppins-Bold;
}

.discount-fluid .discount .discbox .infor .contleft .tier-card .discount-condition{
    font-size: 14px;
    line-height: 22px;
    color: #51555a;
    font-weight: 400;
    font-family: Poppins-Light;
}

.discount-fluid .discount .discbox .infor .contleft .tier-card .color{
    font-size: 17px;
    color: #0287c3;
    font-weight: 600;
}

.discount-fluid .discount .discbox .infor .contright{
    background-color: #03a9f4;
    padding: 20px;
}

.discount-fluid .discount .discbox .infor .contright .right_box{
    border: 3px dashed #0287c3;
    border-radius: 20px;
    padding: 20px;
}

.discount-fluid .discount .discbox .infor .contright .right_box::after{
    content: '';
    width: 110px;
    height: 157px;
    background-image: url(../../../assets/img/balloon.png);
    position: absolute;
    bottom: 25px;
    right: -35px;
    filter: drop-shadow(10px 10px 15px black);
}

.discount-fluid .discount .discbox .infor .contright .right_box h3{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-family: Poppins-Medium;
    margin-top: 15px;
    margin-bottom: 40px;
}

.discount-fluid .discount .discbox .infor .contright .right_box .getp{
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
    text-align: center;
}

.discount-fluid .discount .discbox .infor .contright .right_box .get{
    border: 3px dashed #ffffff;
    border-radius: 10px;
    background-color: #1088c7;
    position: relative;
}

.discount-fluid .discount .discbox .infor .contright .right_box .get::before{
    content: '';
    width: 38px;
    height: 30px;
    background-image: url(../../../assets/img/scissors.png);
    position: absolute;
    top: -15px;
    left: -10px;
    animation: scissor 12s infinite;
}

.discount-fluid .discount .discbox .infor .contright .right_box .get::after{
    content: '';
    width: 89px;
    height: 106px;
    background-image: url(../../../assets/img/stars.png);
    position: absolute;
    top: -15px;
    right: -15px;
}

@keyframes scissor {
    0%{
        right: 0;
        top: -15px;
    }

    25%{
        left: 360px;
        top: -15px;
        transform: rotate(45deg);
    }

    50%{
        left: 370px;
        top: 220px;
        transform: rotate(90deg);
    }

    75%{
        left: -10px;
        top: 220px;
        transform: rotate(180deg);
    }

    100%{
        left: -10px;
        top: -15px;
        transform: rotate(270deg);
    }
}

.discount-fluid .discount .discbox .infor .contright .right_box .get .tget{
    margin-top: 30px;
    display: block;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 500;
    font-family: Poppins-Medium;
    position: relative;
    left: 100px;
}

.discount-fluid .discount .discbox .infor .contright .right_box .get h5{
    font-size: 62px;
    line-height: 57px;
    color: #e2f55d;
    font-family: Poppins-Bold;
    text-transform: uppercase;
    text-align: center;
}

.discount-fluid .discount .discbox .infor .contright .right_box .get p{
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: Poppins-Light;
    text-align: center;
}