footer{
    background-color: #03a9f3;
}

footer .foot .footbox{
    padding: 20px 0;
    border-bottom: 1px solid #e0ebf2;
    margin-bottom: 50px;
}

footer .foot .footbox nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .foot .footbox nav ul li a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: Poppins-Medium;
}

footer .foot .footbox1{
    padding-bottom: 50px;
    border-bottom: 1px solid #e0ebf2;;
}

footer .foot .footbox1 .left h3{
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    font-family: Poppins-Medium;
    margin-bottom: 30px;
}

footer .foot .footbox1 .left ul{
    list-style-type: none;
    padding: 0;
}

footer .foot .footbox1 .left ul li{
    font-size: 13px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: Poppins-Medium;
}

footer .foot .footbox2 .imag .img{
    margin-right: 10px;
    position: relative;
}

footer .foot .footbox2 .imag .img::before{
    content: '';
    width: 34px;
    height: 34px;
    background-image: url(../../../assets/img/facebook-hover.png);
    position: absolute;
    display: none;
}

footer .foot .footbox2{
    margin-top: 40px;
}

footer .foot .footbox2 .imag .img:hover::before{
    display: inline;
    cursor: pointer;
}

footer .foot .footbox2 .imag .img:nth-child(2):before{
    background-image: url(../../../assets/img/twitter-hover.png);
}

footer .foot .footbox2 .imag .img:nth-child(3):before{
    background-image: url(../../../assets/img/pinterest-hover.png);
}

footer .foot .footbox2 .imag .img:nth-child(4):before{
    background-image: url(../../../assets/img/google-plus-hover.png);
}

footer .foot .footbox2 .end p{
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Museo Sans";
}

footer .foot .footbox2 .tel p{
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 500;
    font-family: Poppins-Medium;
    padding-left: 10px;
}

footer .foot .footbox2 .tel p span{
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

@media screen and (min-width: 576px) and (max-width: 767px){
    footer .foot .footbox2 .end p{
        margin-bottom: 15px;
    }

    footer .foot .footbox2 .imag{
        margin-bottom: 20px;
    }

    footer .foot .footbox2 .tel{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px){
    br{
        display: none;
    }

    footer .foot .footbox2 .end p{
        margin-bottom: 15px;
    }

    footer .foot .footbox2 .imag{
        margin-bottom: 20px;
    }

    footer .foot .footbox2 .tel{
        margin-bottom: 20px;
    }
}