header{
    filter: drop-shadow(0px 1px 2.5px rgba(0,0,0,0.1));
    background-color: #03a9f3;
}

header .head{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .head nav{
    display: flex;
    align-items: center;
}

header .head nav .nav_menu{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

header .head nav .nav_menu .dropdown .dropdown_menu{
    display: none;
    position: absolute;
    left: 0;
    border-radius: 5px;
    background-color: #03a9f3;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0px 8px rgba(0,0,0,1);
}

header .head nav .nav_menu li a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: Poppins-Medium;
}

header .head nav .nav_menu .hed{
    position: relative;
}

header .head nav .nav_menu .hed::before{
    content: "";
    width: 31px;
    height: 31px;
    display: none;
    background-image: url(../../../assets/img/phone-hover.png);
    position: absolute;
    top: 0px;
}

header .head nav .nav_menu .hed:hover::before{
    display: block;
    cursor: pointer;
}

.dropdown_menu li a {
    display: inline-block;
    padding: 5px;
}

header .head nav .nav_menu .dropdown:hover .dropdown_menu {
    display: block;
}

header .head nav .nav_menu .dropdown .dropdown_menu li a:hover {
    background-color: #007bb5;
}

header .head nav .btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #1088c7;
    border: 1px solid #1088c7;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Poppins-Medium;
    text-decoration: none;
    &:hover{
        background-color: #f75e2d;
    }
}

header .head nav .burger{
    margin-left: 25px;
    position: relative;
}

header .head nav .burger::before{
    content: "";
    width: 22px;
    height: 17px;
    display: none;
    background-image: url(../../../assets/img/burger-hover.png);
    position: absolute;
    top: 6px;
}

header .head nav .burger:hover::before{
    display: block;
    cursor: pointer;
}