.welcome-fluid{
    padding: 90px 0;
}

.welcome-fluid .welcome .box_wel .leftbox img{
    border-radius: 5px;
}

.welcome-fluid .welcome .box_wel .rightbox h2{
    margin-top: 60px;
    margin-bottom: 45px;
    font-size: 35px;
    font-family: Poppins-Medium;
}

.welcome-fluid .welcome .box_wel .rightbox p{
    font-size: 14px;
    line-height: 22px;
    color: #51555a;
    font-weight: 400;
    font-family: Poppins-Light;
}