<section class="container-fluid advant-fluid">
    <div class="container advant">
        <h2>Advantages of Our Writing Services</h2>
        <div class="row advantbox d-flex justify-content-evenly">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 advant-boxes">
                <img src="../../../assets/img/02-img-1.png" alt="02">
                <h3>Professionally-qualified writing experts</h3>
                <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 advant-boxes">
                <img src="../../../assets/img/02-img-2.png" alt="02">
                <h3>Commitment to deliver papers by deadline</h3>
                <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 advant-boxes">
                <img src="../../../assets/img/02-img-3.png" alt="02">
                <h3>Top-quality, at a great price - guaranteed</h3>
                <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                </p>
            </div>
            <div class="col-12 but d-flex justify-content-center">
              <div class="btn"><a href="#">Place an order</a></div>  
            </div>
        </div>
    </div>
</section>