<section class="container-fluid blueessay-fluid">
    <div class="container blueessay">
        <div class="cloud"><img src="../../../assets/img/Cloud.png" alt="Cloud"></div>
        <div class="cloud1"><img src="../../../assets/img/Cloud1.png" alt="Cloud"></div>
        <div class="row box_essay">
            <div class="col-8 left">
                <h1><span>BlueEssaySite.net -</span> <br> expert help for custom Written</h1>
                <div class="proces">
                    <div class="proces-fill"></div>
                </div>
                <p>
                    On the other hand, we denounce with righteous <br>indignation and dislike men who are so beguiled and <br> demoralized
                </p>
                 <div class="btn"><a href="#">order</a></div>
            </div>
            <div class="col-4 right">
                <img src="../../../assets/img/girl.png" alt="girl">
            </div>
        </div>
    </div>
</section>