<section class="container-fluid blueessay-fluid">
    <div class="container blueessay">
        <div class="cloud"><img src="../../../assets/img/Cloud.png" alt="Cloud"></div>
        <div class="cloud1"><img src="../../../assets/img/Cloud1.png" alt="Cloud"></div>
        <div class="row box_essay">
            <div class="col-lg-8 col-xl-8 col-md-12 col-sm-12 col-12 left">
                <h1><span>BlueEssaySite.net -</span> <br> expert help for custom Written</h1>
                <div class="proces">
                    <div class="proces-fill"></div>
                </div>
                <p>
                    On the other hand, we denounce with righteous <br>indignation and dislike men who are so beguiled and <br> demoralized
                </p>
                 <div class="btn"><a href="#">place an order</a></div>
            </div>
            <div class="col-lg-4 col-xl-4 d-md-none d-sm-none d-none d-lg-flex d-xl-flex right">
                <img src="../../../assets/img/girl.png" alt="girl">
            </div>
            <div class="col-12 box_center d-flex align-items-center justify-content-around  flex-md-wrap flex-sm-wrap flex-wrap">
                <div class="box_text">
                    <label for="text">Type of paper</label>
                    <select id="text">
                        <option value="">Placeholder text</option>
                        <option value="">Placeholder text</option>
                        <option value="">Placeholder text</option>
                    </select>
                </div>
                <div class="box_text">
                    <label for="writer">Writer level</label>
                    <select id="writer">
                        <option value="">High school</option>
                        <option value="">High school</option>
                        <option value="">High school</option>
                    </select>
                </div>
                <div class="box_text">
                    <label for="urgency">Urgency</label>
                    <select id="urgency">
                        <option value="">21 days</option>
                        <option value="">21 days</option>
                        <option value="">21 days</option>
                    </select>
                </div>
                <div class="box_text">
                    <label for="urgency">Number of pages</label>
                    <div class="number">
                        <button>-</button>
                        <span>0</span>
                        <button>+</button>
                    </div>
                </div>
                <div class="btn"><a href="#">Contiune</a></div>
            </div>
        </div>
</section>