<section class="container-fluid clients-fluid">
    <div class="container clients">
        <h2>What our clients says</h2>
        <div class="testimonial d-flex flex-column justify-content-center align-items-center">
            <img src="../../../assets/img/05-user-01.png" alt="">
            <p>
                Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.
            </p>
            <h5>Lorna Grey</h5>
            <span>20 apr 2016 at 8:23 </span>
        </div>
    </div>
</section>

