<section class="container-fluid discount-fluid">
    <div class="container discount">
        <div class="rocket">
            <img src="../../../assets/img/rocket.png" alt="rocket">
        </div>
        <div class="row discbox d-flex flex-column align-items-center">
            <div class="col-12 di d-flex flex-column align-items-center">
                <h2>Our discount program</h2>
                <p>
                    By utilizing elements and principles of Material Design, we were able to create a framework that incorporates 
                </p>
            </div>
            <div class="col-12 infor d-sm-none d-none d-lg-flex d-xl-flex d-md-flex d-flex">
                <div class="contleft d-flex flex-wrap justify-content-md-center">
                    <div class="tier-card d-flex flex-column justify-content-center align-items-center">
                        <h4 class="discount-percentage">4% <br> OFF</h4>
                        <span class="discount-condition">for more than <br><span class="color">15 pages</span></span>
                    </div>
                    <div class="tier-card d-flex flex-column justify-content-center align-items-center">
                        <h4 class="discount-percentage">5% <br> OFF</h4>
                        <span class="discount-condition">for more than <br><span class="color">20 pages</span></span>
                    </div>
                    <div class="tier-card d-flex flex-column justify-content-center align-items-center">
                        <h4 class="discount-percentage">10% <br> OFF</h4>
                        <span class="discount-condition">for more than <br><span class="color">50 pages</span></span></span>
                    </div>
                    <div class="tier-card d-flex flex-column justify-content-center align-items-center">
                        <h4 class="discount-percentage">15% <br> OFF</h4>
                        <span class="discount-condition">for more than <br><span class="color">100 pages</span></span>
                    </div>
                </div>
                <div class="contright">
                    <div class="right_box">
                        <h3>Try our service & get huge discounts</h3>
                        <div class="get">
                            <span class="tget">get</span>
                            <h5>15% <br>off</h5>
                            <p>for your 1st order</p>
                        </div>
                        <p class="getp">Use discount15 as discount code</p>
                    </div>
                </div>
            </div>
            <div class="contleft d-flex flex-wrap justify-content-sm-between justify-content-center d-xl-none d-lg-none d-xxl-none d-md-none d-sm-flex">
                <div class="tier-card d-flex flex-column justify-content-center align-items-center">
                    <h4 class="discount-percentage">4% <br> OFF</h4>
                    <span class="discount-condition">for more than <br><span class="color">15 pages</span></span>
                </div>
                <div class="tier-card d-flex flex-column justify-content-center align-items-center">
                    <h4 class="discount-percentage">5% <br> OFF</h4>
                    <span class="discount-condition">for more than <br><span class="color">20 pages</span></span>
                </div>
                <div class="tier-card d-flex flex-column justify-content-center align-items-center">
                    <h4 class="discount-percentage">10% <br> OFF</h4>
                    <span class="discount-condition">for more than <br><span class="color">50 pages</span></span></span>
                </div>
                <div class="tier-card d-flex flex-column justify-content-center align-items-center">
                    <h4 class="discount-percentage">15% <br> OFF</h4>
                    <span class="discount-condition">for more than <br><span class="color">100 pages</span></span>
                </div>
            </div>
            <div class="contright d-xl-none d-lg-none d-xxl-none d-md-none d-sm-bocks">
                <div class="right_box">
                     <h3>Try our service & get huge discounts</h3>
                    <div class="get">
                        <span class="tget">get</span>
                        <h5>15% <br>off</h5>
                        <p>for your 1st order</p>
                    </div>
                    <p class="getp">Use discount15 as discount code</p>
                </div>
            </div>
        </div>
        
        
    </div>
</section>