<footer class="container-fluid">
    <div class="container foot">
        <div class="row footbox d-none d-lg-flex d-xl-flex d-sm-flex d-md-flex d-flex align-items-center">
            <div class="col-xl-5 col-lg-5 d-md-none d-sm-none d-none d-lg-flex d-xl-flex image">
                <a href="#"><img class="logo" src="../../../assets/img/logo.png" alt="logo"></a>
            </div>
            <nav class="col-xl-7 col-lg-7">
                <ul class="d-flex justify-content-between">
                    <li><a href="#">home</a></li>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">order now</a></li>
                    <li><a href="#">disclaimer</a></li>
                    <li><a href="#">why us</a></li>
                    <li><a href="#">contacts</a></li>
                    <li><a href="#">blog</a></li>
                </ul>
            </nav>
        </div>
        <div class="row footbox1 d-none d-sm-none d-md-flex d-lg-flex d-xl-flex">
            <div class="col-3 left">
                <h3>Section number1</h3>
                <ul>
                    <li>But I must explain to you how</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                </ul>
            </div>
            <div class="col-3 left">
                <h3>Section number2</h3>
                <ul>
                    <li>But I must explain to you how</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                </ul>
            </div>
            <div class="col-3 left">
                <h3>Section number3</h3>
                <ul>
                    <li>But I must explain to you how</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                </ul>
            </div>
            <div class="col-3 left">
                <h3>Section number4</h3>
                <ul>
                    <li>But I must explain to you how</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                </ul>
            </div>
        </div>
        <div class="row footbox2 d-flex align-items-center">
            <div class="end col-12 col-sm-12 col-xl-3 col-lg-3 col-md-6 d-flex justify-content-md-start justify-content-sm-center justify-content-xl-start justify-content-lg-start">
                <p>Copyright В© 2017 BlueEssaySite.net <br>All rights reserved.</p>
            </div>
            <div class="imag col-12 col-sm-12 col-xl-3 col-lg-3 col-md-6 d-flex justify-content-xl-star justify-content-sm-center justify-content-lg-start justify-content-md-end">
                <div class="img">
                    <a href="https://facebook.com"><img src="../../../assets/img/facebook.png" alt="facebook"></a>
                </div>
                <div class="img">
                    <a href="https://twitter.com"><img src="../../../assets/img/twitter.png" alt="twitter"></a>
                </div>
                <div class="img">
                    <a href="https://pinterest.com"><img src="../../../assets/img/pinterest.png" alt="pinterest"></a>
                </div>
                <div class="img">
                    <a href="https://google.com"><img src="../../../assets/img/google-plus.png" alt="google-plus"></a>
                </div>
            </div>
            <div class="tel col-12 col-sm-12 col-xl-3 col-lg-3 col-md-6 d-flex align-items-center justify-content-sm-center justify-content-md-start justify-content-xl-start justify-content-lg-start">
                <div><img src="../../../assets/img/footer-phone.png" alt="footer-phone"></div>
                <p>
                    Toll free: <br> <span>+ 3 044 111 2732</span>
                </p>
            </div>
            <div class="tel col-12 col-sm-12 col-xl-3 col-lg-3 col-md-6 d-flex align-items-center justify-content-sm-center justify-content-md-end justify-content-xl-start justify-content-lg-start">
                <div><img src="../../../assets/img/footer-email.png" alt="footer-email"></div>
                <p>
                    Email: <br> blueessaysite@gmail.com
                </p>
            </div>
        </div>
    </div> 
</footer>