<header class="container-fluid">
    <div class="container head">
        <a href="#" class="d-none d-sm-none d-lg-flex d-xl-flex d-md-flex"><img class="logo" src="../../../assets/img/logo.png" alt="logo"></a>
        <a href="#" class="d-flex d-sm-flex d-md-none d-lg-none d-xl-none"><img class="logo" src="../../../assets/img/logo-sm.png" alt="logo"></a>
        <nav>
            <ul class="nav_menu d-md-none d-sm-none d-none d-lg-flex d-xl-flex">
                <li class="dropdown">
                    <a href="#">Service ▼</a>
                    <ul class="dropdown_menu">
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Service</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">About us ▼</a>
                    <ul class="dropdown_menu">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </li>
                <li><a href="#">How it works</a></li>
                <li class="hed"><a href="#"><img src="../../../assets/img/phone.png" alt="phone"></a></li>
            </ul>
            <div class="btn d-md-none d-none d-sm-none d-lg-flex d-xl-flex"><a href="#">sign in</a></div>
            <div class="btn d-md-none d-none d-sm-none d-lg-flex d-xl-flex"><a href="#">order</a></div>
            <div class="burger"><a href="#"><img src="../../../assets/img/burger.png" alt="burger"></a></div>
        </nav>
    </div>
</header>