<header class="container-fluid">
    <div class="container head">
        <a href="#"><img class="logo" src="../../../assets/img/logo.png" alt="logo"></a>
        <nav>
            <ul class="nav_menu">
                <li class="dropdown">
                    <a href="#">Service ▼</a>
                    <ul class="dropdown_menu">
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Service</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">About us ▼</a>
                    <ul class="dropdown_menu">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </li>
                <li><a href="#">How it works</a></li>
                <li class="hed"><a href="#"><img src="../../../assets/img/phone.png" alt="phone"></a></li>
            </ul>
            <div class="btn"><a href="#">sign in</a></div>
            <div class="btn"><a href="#">order</a></div>
            <div class="burger"><a href="#"><img src="../../../assets/img/burger.png" alt="burger"></a></div>
        </nav>
    </div>
</header>